<!DOCTYPE html>
<html lang="en">
<head>
  <title>Dashboard</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load static %}
  <link type="text/css" rel="stylesheet"  href="{% static "css/bootstrap.css" %}">
  <script type="text/javascript" src="{% static "js/bootstrap.js" %}"></script>
  <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
  <script>
    tinymce.init({selector: "textarea"});
  
    </script>
</head>

  
  <style>
    /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {height: 1500px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;} 
    }
  </style>
</head>
<body>
    <div class="container">
    
    <header class="d-flex flex-wrap justify-content-center  py-3 mb-4 border-bottom dashboardheader">
        
            <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none" href="/signup">
          <img src="{% static "logo.png" %}"  width="100" height="50" alt="logo">
        </a>
        <ul class="nav nav-pills mx-2">
          <li class="nav-item">
            <a href="/dashboard" class="nav-link btn btn-primary active" aria-current="page">HOME</a>
        </li>
        <li class="nav-item mx-2">
          <a href="/profile" class="nav-link btn btn-primary active" aria-current="page">MY PROFILE</a>
      </li>
            <li class="nav-item mx-2">
                <a href="/editprofile" class="nav-link btn btn-primary active" aria-current="page">EDIT PROFILE</a>
            </li>
            <li class="nav-item mx-2">
                <a href="/login" class="nav-link btn btn-primary active" aria-current="page">LOGOUT</a>
            </li>
            </header>
<div class="container-fluid">
  <div class="row">
    <div class="col-3">
      {% for i in data%}
      <h2>Hi {{i.name |capfirst}}</h2>
      {% endfor %}
    </div>
  </div>
  <div class="text-center ">
  <button type="button" class="btn btn-danger btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Create Post</button>
</div>
<h1>Recent Posts</h1>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-info">
        <h5 class="modal-title" id="exampleModalLabel">Tell Us Something!!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/post" method="post">
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Title:</label>
            <input type="text" class="form-control" name="title" placeholder="Enter Title">
          </div>
          {% comment %} <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Name:</label>
            <input type="text" class="form-control" name="name" placeholder="Enter Title">
          </div> {% endcomment %}
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="textarea" name="content" placeholder="Enter your content"></textarea>
            
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>  
<hr>
<div class="container">
  
    {% for i in Post%} 
    <p class="bg-primary text-light  btn">USER NAME</p> 
    <br>
    <p class="bg-warning text-dark fw-bold btn">{{i.name}}</p>
    <p class="bg-warning text-dark btn">{{i.email}}</p>
    <p class="bg-warning text-dark  fw-bold btn">{{i.title}}</p>
    <p class="alert alert-info">{{i.content}}</p>
    {% endfor %}
    
    
</div>

<footer class="bg-light text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-dark" >Mystory.com</a>
  </div>
  <!-- Copyright -->
</footer>

</body>
</html>
